@import url('./fonts.css');
@import url('./base.css');

/* header */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 24px 0;
}

.header__nav{
  display: flex;
}

.header__link{
  font-family: 'Montserrat-Bold';
  margin:0 20px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  position: relative;
  white-space: nowrap;
}
.link-active{
  color: #E51937;
}

.link-active::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 24px;
  background:linear-gradient(-45deg, transparent 1px, #E51937 0)right, linear-gradient(45deg, transparent 1px, #E51937 0)left;
  background-size: 60% 100%;
  background-repeat: no-repeat;
}

.header__link:hover{
  color: #E51937;
}

.header__link:hover.header__link::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 24px;
  background:linear-gradient(-45deg, transparent 1px, #E51937 0)right, linear-gradient(45deg, transparent 1px, #E51937 0)left;
  background-size: 60% 100%;
  background-repeat: no-repeat;
}

.header__menu{
  display: flex;
  align-items: center;
}

.burger{
  width: 24px;
  height: 2px;
  background:linear-gradient(-45deg, transparent 1px, #E51937 0)right, linear-gradient(45deg, transparent 1px, #E51937 0)left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.burger::after,
.burger::before{
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background:linear-gradient(-45deg, transparent 1px, #E51937 0)right, linear-gradient(45deg, transparent 1px, #E51937 0)left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.burger::after{
  top: 7px;
}

.burger::before{
  bottom: 7px;
}

/* section - preview */

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.preview{
  background: url(/img/tesla__background.png) no-repeat;
  background-size: 100%;
  background-position-y: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}

.preview__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
}

.preview__text{
  font-family: 'Montserrat-Bold';
  font-size: 90px;
}

.preview__subtext{
  font-size: 15px;
  font-weight: 500;
}

.preview__car{
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.car__img{
  width: 69%;
  height: 100%;
}

.preview__spec{
  display: flex;
  margin-top: 26px;
}

.feature{
  display: flex;
}

.item{
  display: flex;
  align-items: center;
  margin-right: 81px;
}

.indicators{
  display: flex;
  flex-direction: column;
}

.index{
  font-family: 'Montserrat-Bold';
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

.speed-icon{
  width: 54px;
  height: 43px;
}

.road-icon{
  width: 41px;
  height: 58px;
}

.bold{
  font-weight: 600;
  font-size: 35px;
  margin-right: 6px;
}

.text{
  font-weight: 600;
  font-size: 20px;
}

.substring{
  font-size: 12px;
}

.testdrive{
  display: flex;
  align-items: center;
}

.testdrive__img{
  margin-right: 7px;
}

.testdrive__span{
  font-family: 'Montserrat-Bold';
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 40px;
  margin-left: 30px;
  position: relative;
}

.testdrive__span::before{
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: -30px;
  top: -2px;
  background: url("../img/steering-wheel.svg") center no-repeat;
}

.btn{
  font-family: 'Montserrat-Bold';
  font-size: 13px;
  text-transform: uppercase;
  color: #E51937;
  border: 2px solid #E51937;
  width: 160px;
  height: 40px;
  padding: 0;
}

.btn:hover{
  color: white;
  background: #E51937;
}

.preview__arrow{
  margin: 37px 0;
}

/* section - overview */

.overview{
  display: flex;
  width: 100%;
}

.overview__main{
  background: url('../img/tesla_salon.jpg') 0 100% no-repeat;
  width: 100%;
  /* background-size: cover;  for max-width */
}

.overview__model{
  font-family: 'Montserrat-Bold';
  color: #E51937;
  font-size: 70px;
  margin-left: 80px;
  white-space: nowrap;
}

.overview__block{
  max-width: 440px;
  background-color: #E51937;
  color: white;
  padding: 51px 44px 63px 52px;
}

.overview__text{
  margin-bottom: 54px;
}

.overview__discription{
  margin-bottom: 171px;
}

.block__title{
  font-family: Montserrat;
  font-size: 30px;
  margin-bottom: 11px;
}

.block__text{
  font-size: 15px;
  line-height: 18px;
}

.overview__item{
  margin-bottom: 35px;
}

.overview__index{
  font-family: 'Montserrat';
}

.overview__bold{
  margin-right: 10px;
}

.screen-icon,
.bag-icon{
  margin-right: 19px;
}

.wifi-icon{
  margin-right: 11px;
}

.info{
  display: flex;
  align-items: center;
}

.info-icon{
  margin-right: 8px;
}

.info__text{
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
  font-size: 13px;
  white-space: nowrap;
  margin-right: 35px;
  position: relative;
  margin-left: 30px;
  cursor: pointer;
}

.info__text::before{
  position: absolute;
  content: "";
  background: url('../img/info.svg') center;
  width: 22px;
  height: 22px;
  left: -30px;
  top: -2px;
}

.info__text:hover.info__text::before{
  background: url('../img/info-whitesvg.svg') center;
}

.btn-white{
  color: white;
  border: 2px solid white;
}

.btn-white:hover{
  color: #E51937;
  background-color: white;
}

/* security section */

.security{
  display: flex;
  width: 100%;
}

.security__block{
  max-width: 440px;
  background-color: #E51937;
  color: white;
  padding: 51px 56px 60px 52px;
}

.score__title{
  font-size: 30px;
  margin-bottom: 26px;
}

.score__columns{
  display: flex;
}
.score__list:first-child{
  margin-right: 42px;
}

.score__list:last-child{
  margin-top: -5px;
}
 
.score__item{
  margin-bottom: 16px;
}
.stars__item{
  margin-bottom: 8px;
}

.score__text{
  font-family: 'Montserrat-Bold';
  font-size: 17px;
  text-transform: uppercase;
}

.score__text-sub::after{
  content: "(стойка)";
  font-size: 10px;
  opacity: 0.7;
}

.score__garant{
  display: flex;
  margin-left: 10px;
  margin-bottom: 50px;
  align-items: center;
}

.garant-icon{
  margin-right: 23px;
}

.garant__text{
  margin-bottom: 10px;
}

.garant__title{
  font-size: 50px;
}

.garant__subtitle{
  display: inline-block;
  font-size: 25px;
  margin-top: -10px;
}

.security__main{
  display: flex;
  width: 100%;
}

.security__score{
  margin-bottom: 100px;
}

.security__text{
  margin-bottom: 54px;
}

.security__bacground_title{
  font-family: 'Montserrat-Bold';
  font-size: 13vw;
  color: #E51937;
  opacity: .1;
  margin-top: 97px;
  margin-left: auto;
  user-select: none;
  white-space: nowrap;
}

.security__img{
  position: absolute;
  bottom: 137px;
  left: 344px;
  width: 72%;
}


/* extra desctopre resolution */

@media (max-width: 960px){
  .header__link{
    margin: 0 7px;
  }

  .security__bacground_title{
    font-size: 10vw;
  }
}

@media (max-width: 1140px){
  .security__img {
    bottom: 215px;
    width: 57%;
  }
}

/* tablet resolution */

@media (max-width: 768px) {

  .header__link{
    display: none;
  }

  .preview{
    background-position-y: 27%;
  }

  .preview__spec{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
  }

  .preview__car{
    margin-top: 87px;
  }

  .car__img{
    width: 90%;
  }

  .feature{
    margin-bottom: 55px;
  }

  .item{
    margin: 0 45px;
  }

  .speed-icon{
    width: 66px;
    height: 49px;
    margin-right: 20px;
  }

  .road-icon{
    width: 44px;
    height: 72px;
    margin-right: 20px;
  }

  .bold{
    font-size: 50px;
    margin-right: 9px;
  }

  .testdrive{
    margin-left: 35px;
  }

  .testdrive__span{
    color: #E51937;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    margin-left: 0;
  }

  .testdrive__span::before{
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    left: -35px;
    top: -6px;
    background: url("../img/steering-wheel-red.svg") center no-repeat;
  }

  .btn{
    width: 220px;
    height: 55px;
    color: white;
    background: #E51937;
    font-size: 16px;
  }

  .preview__arrow{
    margin-top: 64px;
  }

  .overview{
    flex-direction: column;
  }

  .overview__main{
    height: 500px;
    background-size: cover;
    display: flex;
  }

  .overview__model{
    margin-left: auto;
    margin-right: 46px;
  }

  .overview__block{
    max-width: 100%;
    padding: 55px 48px 60px 34px;
  }

  .overview__discription{
    display: flex;
    margin-bottom: 60px;
  }

  .overview__text{
    width: 50%;
    margin-right: 104px;
    margin-bottom: 0;
  }

  .overview__list{
    width: 40%;
  }

  .overview__bold{
    font-size: 35px;
  }

  .overview__item{
    margin: 0;
    margin-bottom: 20px;
  }

  .block__title{
    margin-bottom: 20px;
  }

  .info{
    justify-content: center;
  }

  .security{
    flex-direction: column;
  }

  .security__block{
    max-width: 100%;
    order: 2;
    padding: 62px 55px 63px 34px;
  }

  .security__discription{
    display: flex;
    margin-bottom: 70px;
  }

  .security__bacground_title{
    font-size: 148px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
    height: 537px;
  }

  .security__img{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
  }

  .security__main{
    position: relative;
    order: 1;
  }

  .score__garant{
    display: none;
  }

  .security__score{
    margin-bottom: 0;
  }

  .security__text{
    margin-bottom: 0;
    margin-right: 71px;
  }

}

/* phone resolution */

@media (max-width: 480px) {
  .header{
    margin: 5px 21px 0 2px;
  }

  .preview{
    max-width: 375px;
    background-position-y: 27%;
  }

  .preview__title{
    margin-top: 30px;
  }

  .preview__text{
    font-size: 50px;
  }

  .preview__subtext{
    font-size: 10px;
  }

  .preview__car{
    margin-top: 49px;
  }

  .feature{
    margin-bottom: 43px;
  }

  .item{
    margin: 0;
  }

  .feature__item-left{
    margin-right: 51px;
  }
  
  .speed-icon{
    width: 38px;
    height: 28px;
    margin-right: 13px;
  }

  .road-icon{
    width: 25px;
    height: 41px;
    margin-right: 13px;
  }

  .bold{
    font-size: 27px;
    margin-right: 7px;
  }

  .text{
    font-size: 15px;
  }

  .substring{
    font-size: 10px;
  }

  .testdrive{
    margin-left: 25px;
  }

  .testdrive__span{
    font-size: 13px;
    margin-right: 25px;
  }

  .testdrive__span::before{
    width: 22px;
    height: 22px;
    left: -28px;
    top: -2px;
    background: url(../img/steering-wheel-small-red.svg) center no-repeat;
  }

  .btn{
    width: 160px;
    height: 40px;
    font-size: 13px;
  }

  .preview__arrow{
    margin: 34px 0;
  }

  .overview__main{
    height: 337px;
    background: url(../img/tesla_salon.jpg) center/cover no-repeat;
  }

  .overview__model{
    display: none;
  }

  .overview__block{
    padding: 18px 30px 34px 30px;
  }

 .overview__discription{
    margin: 0;
  }

  .block__title{
    margin-bottom: 9px;
  }

  .overview__text{
    margin-right: 0;
    width: 100%;
  }

  .overview__list{
    display: none;
  }
  
  .info{
    display: none;
  }

  .security__bacground_title{
    font-size: 90px;
    margin: 0;
    margin-top: 25px;
    white-space: nowrap;
  }

  .security__main{
    height: 294px;
  }

  .security__block{
    padding: 18px 30px 77px 30px;
  }

  .security__discription{
    margin: 0;
  }

  .security__text{
    margin: 0;
  }

  .security__score{
    display: none;
  }

}

